.centered-block {
    width: 95%; /* You can adjust the width as needed */
    margin: auto; /* Center the block element horizontally */
    /* Add styling for your block element */
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* CSS rules go here */
body {
    background-color: #f0f0f0; /* Use a gray color, you can change the hex code to your desired shade of gray */
    
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1; /* This makes the wrapper grow and push the footer to the bottom */
    /* Add any additional styles to your content wrapper */
}
header {
    background-color: #333; /* Example: Dark gray header background color */
    color: #ffffff; /* Example: White text color for the header */
    padding-left: 15px; /* Add some padding to the header for spacing */
}
/* You can add more CSS rules for styling other elements as needed */
/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* Style the footer content */
.footer-content {
    font-size: 15px;
}
.slidercontainer {
    width: 100%;
    height: auto;
    border: 1px solid black; 
    padding: 20px; 
    margin-bottom: 4px;
}
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1ebfe7; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slidercontainer-text{
    color: rgb(74, 74, 74);
    font-size: 28px;
    margin: 5px;
}
.left, .right {

    height: auto;
    float: left;
    width: 50%;
}
.leftpage {
    height: auto;
    float: left;
    width: 35%;
    padding-right: 80px;
}
.left-quarter, .leftcenter-quarter, .rightcenter-quarter, .right-quarter {
    height: auto;
    float: left;
    width: 25%;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    padding:1%;
  }
